<h2>
    Změna hesla
</h2>
<form method="post">
    <!-- old password -->
    <div class="form-group">
        <label for="old_password">Staré heslo</label>
        <input type="password" class="form-control" id="old_password" name="old_password">
    </div>
    <!-- new password -->
    <div class="form-group">
        <label for="new_password">Nové heslo</label>
        <input type="password" class="form-control" id="new_password" name="new_password">
        {{#errors.new_password}}<div class="d-block invalid-feedback">{{errors.new_password}}</div>{{/errors.new_password}}
    </div>
    <!-- new password again -->
    <div class="form-group">
        <label for="new_password_again">Nové heslo znovu</label>
        <input type="password" class="form-control" id="new_password_again" name="new_password_again">
        {{#errors.new_password_again}}<div class="d-block invalid-feedback">{{errors.new_password_again}}</div>{{/errors.new_password_again}}
    </div>

    <!--tlacitko-->
    <button type="submit" class="btn btn-info mt-3">Přihlásit se</button>
</form>